/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Clear float fix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* ******************** */

body {
    color: #fafafa;
    background: #242424 !important;
    background-image: url('../img/bg.png') !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #fafafa;
}

a:link, a:visited, a:active, a:hover {text-decoration: none; color: inherit; }

#switch {
    position: fixed; top: 0; left: 50%; margin-left: -480px;
    width: 940px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    
    color: #ffff00;
    
    /* gradient background */
    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);

}

#container {
    width: 960px;
    margin: 0 auto;
    margin-top: 80px;
}

header#header {
    width: 100%;
}

section#content {
    width: 100%;
}

footer#footer {
    width: 100%;
    text-align: center;
}

div.hline, div.vline {
    background: #444444;
}

div.hline {
    width: 100%;
    height: 1px;
    margin: 10px 0;
}

div.vline {
    width: 1px;
    height: 100%;
    margin: 0 10px;
}

span.btn {
    height: 20px;
    padding: 10px;
    font-weight: bold;
    color: #242424;
    background-color: #dddddd;
    cursor: pointer;
    border-radius: 2px;
}

span.btn:active {
    box-shadow: 0px 0px 10px black inset;
}

span.btn:hover {
    background-color: #ffffff;
}


/* player.html */

header#game_info {
    width: 100%;
    margin: 10px 0;
}

section#info {
    margin-bottom: 20px;
    font-weight: bold;
}

section#info p {
    margin: 0.4em 0;
}

section#info a {
    color: #ffff00;
    font-weight: bold;
}

section#instructions {
    text-align: center;
    color: #ffff00;
    padding: 10px 0;
    /* gradient background */
    background: #4444bb; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #4444bb 0%, #2989d8 43%, #4444bb 85%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4444bb), color-stop(43%,#2989d8), color-stop(85%,#4444bb), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4444bb', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

section#instructions>p {
    margin: 0;
    font-weight: bold;
}

header#game_info ul {
    margin: 0;
}

div#game {
    float: left;
    width: 700px;
    height: 480px;
    background-color: #000000;
}

div#game *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

aside#highscores {
    float: left;
    width: 210px;
    padding: 20px;
    height: 440px;
    margin-right: 10px;
    color: #222;
    
    /* gradient background */
    background: #ffff00; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ffff00 0%, #f2d12e 50%, #eadd25 51%, #ffff00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffff00), color-stop(50%,#f2d12e), color-stop(51%,#eadd25), color-stop(100%,#ffff00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* IE10+ */
    background: linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

aside#highscores > p {
    color: #4444bb;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

aside#highscores > table {
    width: 100%;
    text-align: right;
    font-size: 14px;
}

/* -------------------- */

/* maker.html */

aside#game_maker_options {
    float: left;
    width: 210px;
    padding: 20px;
    height: 440px;
    margin-right: 10px;
    
    /* gradient background */
    background: #ffff00; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ffff00 0%, #f2d12e 50%, #eadd25 51%, #ffff00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffff00), color-stop(50%,#f2d12e), color-stop(51%,#eadd25), color-stop(100%,#ffff00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* IE10+ */
    background: linear-gradient(45deg,  #ffff00 0%,#f2d12e 50%,#eadd25 51%,#ffff00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

aside#game_maker_options > p {
    color: #4444bb;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

div.btn {
    width: 160px;
    height: 22px;
    margin: 10px auto;
    padding: 6px;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #ffff00;
    
    /* gradient background */
    background: #4444bb; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #4444bb 0%, #2989d8 43%, #4444bb 85%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4444bb), color-stop(43%,#2989d8), color-stop(85%,#4444bb), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(45deg,  #4444bb 0%,#2989d8 43%,#4444bb 85%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4444bb', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div#game_maker *:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

div#game_maker {
    float: left;
    width: 700px;
    height: 480px;
    background-color: #000000;
}

/* -------------------- */


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}